<br />
<div class="panel panel-default" *ngIf="dormitory">
    <div class="panel-heading"><h3>Гуртожиток №{{dormitory.number}}</h3></div>
    <div class="panel-body">
        <b>Номер: </b>{{dormitory.number}}<br />
        <b>Адрес: </b>{{dormitory.address}}<br />
        <b>Комендант: </b>{{dormitory.comendant.fullName}}<br />
        <b>Опис: </b>{{dormitory.description}}<br />
    </div>
</div>
<br />
<table class="table table-hover" *ngIf="dormitory">
    <thead>
        <tr>
            <th>Номер поверху</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let floor of dormitory.floors">
            <td class="col-md-11">{{floor.number}}</td>
            <td class="col-md-1"><button type="button" class="btn btn-info" [routerLink]="['../../floorDetails',floor.id]">Детальніше</button></td>
        </tr>
    </tbody>
</table>