<h4 class="text-center">Змінити пароль</h4>

<div class="col-md-8 col-md-offset-2">
    <form name="form" (ngSubmit)="f.form.valid && ChangePassword()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !OldPassword.valid }">
            <label>Старий пароль</label>
            <input type="password" class="form-control" [(ngModel)]="changePasswordModel.oldPassword" #OldPassword="ngModel" name="oldPassword" required />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !NewPassword.valid }">
            <label>Новий пароль</label>
            <input type="password" class="form-control" [(ngModel)]="changePasswordModel.newPassword" #NewPassword="ngModel" name="newPassword" required />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ConfirmationNewPassword.valid }">
            <label>Підтвердження нового пароля</label>
            <input type="password" class="form-control" [(ngModel)]="changePasswordModel.confirmationNewPassword" #ConfirmationNewPassword="ngModel" name="confirmationNewPassword" required />
        </div>
        <div class="form-group">
            <p style="color: red;"> {{errorMessage}}</p>
            <button class="btn btn-default">Змінити пароль</button>
        </div>
    </form>
</div>