<div *ngIf="room">
    <br />
    <div class="panel panel-default" *ngIf="room">
        <div class="panel-heading"><h3>Кімната №{{room.name}}</h3></div>
        <div class="panel-body">
            <b>Загальна кількість місць: </b>{{room.totalPlaces}}<br />
            <b>Вільна кількість місць: </b>{{room.freePlaces}}<br />
            <b>Факультет: </b>{{room.faculty?.name}}<br />
        </div>
    </div>
    <br />
    <button *ngIf="room.freePlaces !== 0" type="button" class="btn btn-danger" [routerLink]="['../../roomSettling',room.id]">Поселити студента</button>
    <table *ngIf="room.students.length != 0" class="table table-hover">
        <thead>
            <tr>
                <th>ПІБ</th>
                <th>Факультет</th>
                <th>Пошта</th>
                <th>Номер телефону</th>
                <th>Ім'я користувача</th>
                <th>Номер студентського</th>
                <th>Група</th>
                <th>Рік навчання</th>
                <th>Категорія студента</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of room.students">
                <td class="col-md-2">{{student.fullName}}</td>
                <td class="col-md-1">{{student.faculty?.name}}</td>
                <td class="col-md-1">{{student.email}}</td>
                <td class="col-md-1">{{student.phoneNumber}}</td>
                <td class="col-md-1">{{student.user?.username}}</td>
                <td class="col-md-1">{{student.studentCardId}}</td>
                <td class="col-md-1">{{student.group?.name}}</td>
                <td class="col-md-1">{{student.studyYear}}</td>
                <td class="col-md-1">{{student.studentCategory?.description}}</td>
                <td class="col-md-1"><button type="button" class="btn btn-info disabled" disabled>Редагувати</button></td>
                <td class="col-md-1"><button type="button" (click)="Eviction(student.id,room.id)" class="btn btn-info">Виселити</button></td>
            </tr>
        </tbody>
    </table>
</div>
