<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-heading">
            <h2 class="text-center">Реєстрація</h2>
        </div>
        <hr />
        <div class="modal-body">
            <form action="" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.Username" class="form-control" placeholder="Введіть логін" name="username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.FullName" class="form-control" placeholder="Введіть повне імя" name="fullname" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input [(ngModel)]="user.PasswordHash" type="password" class="form-control" placeholder="Введіть Пароль" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input [(ngModel)]="user.Email" class="form-control" placeholder="Введіть електронну пошту" name="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.Faculty" class="form-control" placeholder="Введіть назву факультету" name="faculty" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.PhoneNumber" class="form-control" placeholder="Введіть ваш мобільний" name="phonenumber" />
                    </div>
                </div>
                <p style="color: red;" *ngIf="wrongCredentials"> Неправильний логін або пароль.</p>
                <div class="form-group text-center">
                    <button type="submit" (click)="Login()" class="btn btn-success btn-lg">Зареєструватись</button>
                </div>

            </form>
        </div>
    </div>
</div>
