<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-heading">
            <h2 class="text-center">Реєстрація</h2>
        </div>
        <hr />
        <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid && Login()" #f="ngForm" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.Username" class="form-control" id="username" name="username" #username="ngModel" required minlength="8" placeholder="Введіть логін"  />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Довжина логніа має бути більша 8 симsволів</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.FullName" class="form-control" placeholder="Введіть повне імя" name="fullname" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input [(ngModel)]="user.PasswordHash" type="password" class="form-control" placeholder="Введіть Пароль" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input [(ngModel)]="user.Email" class="form-control" placeholder="Введіть електронну пошту" name="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.Faculty" class="form-control" placeholder="Введіть назву факультету" name="faculty" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" [(ngModel)]="user.PhoneNumber" class="form-control" placeholder="Введіть ваш мобільний" name="phonenumber" />
                    </div>
                </div>
                <p style="color: red;" *ngIf="wrongCredentials"> Неправильний логін або пароль.</p>
                <button class="form-group text-center">Зареєструватись</button>
            </form>
        </div>
    </div>
</div>
